

.paginationContainer {
  display: flex;
  align-items: centers;
  justify-content: center;
  list-style-type: none;
  //background-color: #111827;
  border-radius: 30px;
  padding: 4px 0;
  color: #CA8A04;
  margin-bottom: 8px;
  margin-right: 8px;

  .paginationItem {
    height: 32px;
    text-align: center;
    margin: auto 4px;
    color: rgba(0, 0, 0, 0.87);
    letter-spacing: 0.01071em;
    border-radius: 20px;
    font-size: 13px;
    min-width: 32px;

    .paginationItemLink {
      width: 100%;
      height: 100%;
      padding: 0 12px;
      display: flex;
      box-sizing: border-box;
      align-items: center;
      line-height: 1.43;
      // color: $light-pink;
      color: #CA8A04;
    }
    &.dots:hover {
      background-color: transparent;
      cursor: default;
    }
    & a:hover {
      // background-color: lighten($light-pink, 20%);
      background-color: #c3c3c3;
      color: white;
      cursor: pointer;
      text-decoration: none;
      border-radius: 20px;
    }

    &.selected {
      background-color: #CA8A04;
      a {
        color: white;
      }
    }

    .arrow {
      &::before {
        position: relative;
        /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
        content: "";
        /* By using an em scale, the arrows will size with the font */
        display: inline-block;
        width: 0.4em;
        height: 0.4em;
        border-right: 0.12em solid rgba(0, 0, 0, 0.87);
        border-top: 0.12em solid rgba(0, 0, 0, 0.87);
      }

      &.left {
        transform: rotate(-135deg) translate(-50%);
      }

      &.right {
        transform: rotate(45deg);
      }
    }

    &.disabled {
      pointer-events: none;

      .arrow::before {
        border-right: 0.12em solid rgba(0, 0, 0, 0.43);
        border-top: 0.12em solid rgba(0, 0, 0, 0.43);
      }

      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }
}


