.dark {
  .news-box {
    img {
      background-color: transparent !important;
    }

    .items-left {

      a,
      p {
        color: #fff;
      }
    }
  }
}

.profile-detail {
  justify-content: space-between;
  align-items: flex-start;

  .profile-img-discription {
    display: flex;
    align-items: flex-start;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  header {
    position: relative;

    .menu-btn {
      position: absolute;
      left: 10px;
      top: 10px;
    }

    .logo {
      margin-left: 50px;
    }
  }
}

@media (max-width: 991px) {
  nav {
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  }

  .dark {
    nav {
      background-color: inherit;
    }
  }

  .profile-page {
    flex-direction: column;

    .profile-wrapper {
      padding: 0;
    }
  }

  aside {
    width: 100% !important;
  }

  .porfile-section {
    margin-bottom: 15px;
  }

  .edit-profile-page {
    flex-direction: column;
  }

  .newsletter-innerCard {
    >div {
      max-width: 320px;
    }
  }

  .dashboard-page {
    padding: 0 20px;

    .cardHolder {
      .card {
        min-width: 48%;
      }
    }
  }
}

@media (max-width: 767px) {
  .main-content-wrapper {
    width: 100%;

    main {
      max-width: 100%;

    }
  }

  .px-sm-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .mobile-view {
    display: block;
  }

  .profile-detail {
    display: inline-block;

    .profile-img {
      display: inline-block;
    }

    .profile-discription {
      display: inline-block;
    }

    button {
      margin: 0;
      width: 100%;
    }
  }

  .awards-wrap {
    width: 33%;
    margin-top: 10px;
  }

  .horizontal-tabs {
    padding: 0;
    border-radius: 8px;

    nav {
      overflow: auto;
      white-space: nowrap;

      button {
        font-size: 12px;
      }
    }
  }

  .mt-sm-2 {
    margin-top: 0.5em;
  }

  .tools-page {
    .custom-Modal {
      width: 90%;
    }
  }

  .user-detail {
    flex-direction: column;
    align-items: center;

    .user-discription {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 10px;
    }
  }

  .table-wrapper {
    overflow: hidden;

    >div {
      max-width: 800px;
      overflow-x: scroll;
      padding: 0;
    }
  }

  .submit-content-type {
    .content-element {
      .content-checkboxes {
        min-width: 90px;
      }
    }
  }

  .submit-wrapper {
    .col-span-2 {
      grid-column: span 5 / span 5;
      max-height: 180px;
      overflow: hidden;
      overflow-y: auto;
    }
  }

  .dashboard-page .cardHolder .card {
    min-width: 98%;
  }

  h1 {
    font-size: 22px !important;
    line-height: 26px !important;
    font-weight: 600 !important;
    margin-bottom: 10px !important;
    text-transform: capitalize;
  }

  h2 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    text-transform: capitalize;
  }

  h3 {
    font-size: 18px !important;
    line-height: 22px !important;
    font-weight: 500 !important;
  }


}

.awards-wrap {
  display: flex;
  align-items: center;
  padding-right: 5px;

  img {
    width: 40px !important;
  }

  p {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 2px;
  }
}

aside {
  p {
    font-size: 14px !important;
    line-height: 20px !important;
  }
}

.social-links {
  .links {
    img {
      border-radius: 100%;
    }
  }
}

.b-0 {
  border: 0;
}

.certification-wrapper {
  >div {
    width: 100%;
  }
}

.page-overlay {
  position: relative;

  &::before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    z-index: 3;
  }

  nav,
  .mobile-nav {
    position: relative;
    z-index: 2;
    pointer-events: none;
  }

  .edit-profile-page {
    position: relative;
    z-index: 6;
  }
}

@media (min-width: 1440px) {
  .profile {
    flex: 0 0 80%;
  }

  .profile-page {
    padding: 0 50px !important;
  }
}

#ulArticles {
  list-style: none;
  margin: 0px 0 0 0;
  padding: 0;
  overflow: hidden;
  border: none;

  li {
    padding: 7px;
    display: block;
    overflow: hidden;
    border: none;

    .image {
      display: block;
      float: left;
      position: relative;
      margin-top: 2px;
      margin-right: 10px;

      img {
        float: left;
        border: 1px solid #d7d7d7 !important;
        width: 50px !important;
        height: 50px !important;
        border-radius: 50px;
        padding: 5px !important;
      }
    }

    .right {
      overflow: hidden;

      h3 {
        font-size: 17px;
        color: #333;
        font-weight: normal;
        margin: 0 0 4px 0;
        padding: 0;
        text-transform: none;

        a {
          color: #333;
          text-decoration: none;
          font-family: 'Roboto', sans-serif;

          span {
            color: #0086dc !important;
            text-transform: none;
          }
        }
      }

      span {
        display: inline-block;
        vertical-align: middle;

        svg {
          width: 22px;
          height: 25px;
          margin-right: 5px;
        }
      }

      .article_date {
        padding-left: 0;
        margin-right: 0;
        display: inline-block;
        position: relative;
        // &::before {
        //     content: '';
        //     background: url(/_next/image?url=%2Ftime.png&w=256&q=75) top center no-repeat;
        //     width: 20px !important;
        //     height: 20px !important;
        //     display: inline-block;
        //     background-size: cover;
        //     position: relative;
        //     top: 3px;
        // }

      }

      .article_view {
        padding-left: 15px;
        margin-right: 0;
        display: inline-block;
        position: relative;
        // &::before {
        //     content: '';
        //     background: url(/_next/image?url=%2Faccount.png&w=256&q=75) top center no-repeat;
        //     width: 20px !important;
        //     height: 20px !important;
        //     display: inline-block;
        //     background-size: cover;
        //     position: relative;
        //     top: 3px;
        //     margin-right: 5px;
        // }
      }

      .article_comment {
        padding-left: 29px;
        margin-right: 0;
        display: inline-block;
      }
    }
  }
}

.rounded-l-lg {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.rounded-r-lg {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.justify-evently {
  justify-content: space-evenly;
}

.home-banner-wrapper {
  span {
    width: 100% !important;
    display: block !important;
  }
}

.tools-page {
  .modalWrapper {
    img.nextui-image {
      width: 120px !important;
      margin: 0 auto;
    }
  }
}

.certification-wrapper {
  position: relative;

  svg {
    position: absolute;
    right: 20px;
    top: -5px;
    cursor: pointer;
  }
}

@media (min-width: 1199px) {
  .newsletter-main-card {
    >div {
      max-width: 600px;
    }

    .prose {
      min-height: 50px;
    }
  }

  .profile-wrapper {
    min-width: 700px;
  }
}

aside {
  table {
    tr {
      position: relative;

      .tr-image {
        position: absolute;
        left: -10px;
        top: -5px;
      }
    }
  }
}

.dark {
  .martian-admin {

    .dark\:text-gray-500,
    td {
      color: #d7d7d7;
    }
  }
}

.submit-content-type {
  margin-bottom: -10px;
  display: block;

  .content-element {
    display: block;
    width: 100%;

    .content-checkboxes {
      display: inline-block;
      margin: 0 10px;

      input {
        float: left;
        margin-top: 1px;
      }

      label {
        overflow: hidden;
        padding-left: 5px;
        padding-right: 10px;
      }
    }
  }
}

.dark .dark\:bg-gray-400 {
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.rounded-image {
  max-width: 150px;
  max-height: 140px;

  img {
    border-radius: 100%;
  }
}

.d-none {
  display: none;
}

.cardHolder {
  justify-content: space-between;

  .card {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    border: 1px solid #ccc;
    border-radius: 6px;
    min-width: 24%;
    margin-right: 10px;
    padding: 10px 20px;
    margin-bottom: 10px;

    // background-color: #fff;
    img {
      width: 30px !important;
    }

    h4 {
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      margin-bottom: 0;
      text-transform: capitalize;
      color: rgb(107 114 128);
    }

    p {
      font-size: 12px;
      margin-bottom: 0;
      color: rgb(17 24 39);
    }
  }
}

.dark {
  .cardHolder {
    .card {

      h2,
      h4,
      p {
        color: rgba(255, 255, 255, 0.7) !important;
      }
    }
  }
}

.dashboard-page {
  width: 100%;

  table {
    tr {
      th {
        white-space: nowrap;
      }
    }
  }

  h2 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: capitalize;
  }
}

.skills-wrapper {
  .css-1m13nk9-multiValue {
    border-radius: 15px;

    >div {
      font-size: 12px;
      color: #fff;
    }
  }

  input {
    min-width: 50px !important;
    border: none !important;
    outline: 0 !important;
    box-shadow: none !important;
  }

  .skills-select-list {
    border-color: rgb(203, 213, 225, 1) !important;
  }
}

.rdw-editor-wrapper {
  .DraftEditor-root {
    height: auto !important;

    .public-DraftStyleDefault-ltr {
      font-size: 14px;
      line-height: 18px;
      margin: 0;
    }
  }
}

/* Define the scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}

::-webkit-scrollbar-thumb {
  background-color: #dad7d7;
  border-radius: 10px;
  border: 1px solid #f4f4f4;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b2b2b2;
}

.link {
  a {
    text-decoration: underline;
    text-transform: capitalize;
  }
}

@media only screen and (max-width: 767px) {
  /* Add a horizontal scroll to the table on mobile view */
  .table-responsive {
    overflow-x: scroll;
  }

  /* Hide table header on mobile view */
  table {
    thead {
      display: none;
    }
  }

  /* Make table rows display as block for better readability on mobile view */
  tbody {
    display: block;
    width: 100%;
  }

  /* Style table cells on mobile view */
  td {
    display: block;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  /* Style first table cell to display as a table header on mobile view */
  td:first-of-type {
    text-align: center;
    font-weight: bold;
  }
}
