.dark {
  .news-box {
    img {
      background-color: transparent !important;
    }

    .items-left {
      a,
      p {
        color: #fff;
      }
    }
  }
  h1,h2,h3,h4,h5 {
    color: #fff;
  }
  .edit-profile-page {
    p {
      color: #fff;
    }
  }
  select {
    color: red;
  }
}

h1,h2,h3,h4,h5 {
  text-transform: capitalize;
}

.profile-detail {
  justify-content: space-between;
  align-items: flex-start;

  .profile-img-discription {
    display: flex;
    align-items: flex-start;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  header {
    position: relative;

    .menu-btn {
      position: absolute;
      left: 10px;
      top: 10px;
    }

    .logo {
      margin-left: 50px;
    }
  }
}

@media (max-width: 991px) {
  nav {
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  }

  .dark {
    nav {
      background-color: inherit;
    }
  }

  .profile-page {
    flex-direction: column;

    .profile-wrapper {
      padding: 0;
    }
  }

  aside {
    width: 100% !important;
  }

  .porfile-section {
    margin-bottom: 15px;
  }

  .edit-profile-page {
    flex-direction: column;
  }

  .newsletter-innerCard {
    >div {
      max-width: 320px;
    }
  }

  .dashboard-page {
    padding: 0 20px;

    .cardHolder {
      .card {
        min-width: 48%;
      }
    }
  }
}

@media (max-width: 767px) {
  .main-content-wrapper {
    width: 100%;

    main {
      max-width: 100%;

    }
  }

  .px-sm-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .mobile-view {
    display: block;
  }

  .profile-detail {
    display: inline-block;

    .profile-img {
      display: inline-block;
    }
    .profile-img-discription {
      display: flex;
      flex-direction: column;
      align-items: center;
      .profile-discription {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
        p {
          white-space: normal;
        }
      }
    }

    button {
      margin: 0;
      width: 100%;
    }
  }

  .awards-wrap {
    width: 33%;
    margin-top: 10px;
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .horizontal-tabs {
    padding: 0;
    border-radius: 8px;

    nav {
      overflow: auto;
      white-space: nowrap;

      button {
        font-size: 12px;
      }
    }
  }

  .mt-sm-2 {
    margin-top: 0.5em;
  }

  .tools-page {
    .custom-Modal {
      width: 90%;
    }
  }

  .user-detail {
    flex-direction: column;
    align-items: center;

    .user-discription {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 10px;
    }
  }

  .table-wrapper {
    overflow: hidden;

    >div {
      max-width: 800px;
      overflow-x: scroll;
      padding: 0;
    }
  }

  .submit-content-type {
    .content-element {
      .content-checkboxes {
        min-width: 90px;
      }
    }
  }

  .submit-wrapper {
    .col-span-2 {
      grid-column: span 5 / span 5;
      max-height: 180px;
      overflow: hidden;
      overflow-y: auto;
    }
  }

  .dashboard-page .cardHolder .card {
    min-width: 98%;
  }

  h1 {
    font-size: 22px !important;
    line-height: 26px !important;
    font-weight: 600 !important;
    margin-bottom: 10px !important;
    text-transform: capitalize;
  }

  h2 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    text-transform: capitalize;
  }

  h3 {
    font-size: 18px !important;
    line-height: 22px !important;
    font-weight: 500 !important;
  }

  .add-martian-wrapper {
    form {
      display: flex;
      flex-direction: column;
    }
  }
  .search-martian-card {
    width: 100%;
    .martian-card {
      width: 100%;
    }
  }
  .button-wrapper {
    display: block;
    width: 100%;
    button {
      width: 100%;
      margin-right: 0;
      margin-bottom: 5px;
    }
  }
  fieldset.submit-content-type.col-span-3 {
    grid-column: span 6;
  }
  .button-wrapper {
    display: block !important;
    width: 100% !important;
    button {
      width: 100%;
      display: block;
      margin: 0;
      margin-bottom: 10px;
    }
  }
  .profile-aside {
    table {
      tbody {
        display: table;
        tr {
          .tr-image {
            position: relative;
          }
        } 
      }
    }
  }
  #ulArticles li .right span {
    font-size: 13px;  
  }
}

.awards-wrap {
  display: flex;
  align-items: center;
  padding-right: 5px;

  img {
    width: 40px !important;
  }

  p {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 2px;
  }
}

aside {
  p {
    font-size: 14px !important;
    line-height: 20px !important;
  }
}

.social-links {
  .links {
    img {
      border-radius: 100%;
    }
  }
}

.b-0 {
  border: 0;
}

.certification-wrapper {
  >div {
    width: 100%;
  }
}

.page-overlay {
  position: relative;

  &::before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    z-index: 3;
  }

  nav,
  .mobile-nav {
    position: relative;
    z-index: 2;
    pointer-events: none;
  }

  .edit-profile-page {
    position: relative;
    z-index: 6;
  }
}

@media (min-width: 1440px) {
  .profile {
    flex: 0 0 80%;
  }

  .profile-page {
    padding: 0 50px !important;
  }
  .profile-aside {
    table {
      tr {
        td {
          max-width: 160px;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }
}
.edit-profile-page {
  img {
    border-radius: 50%;
  }
}
#ulArticles {
  list-style: none;
  margin: 0px 0 0 0;
  padding: 0;
  overflow: hidden;
  border: none;

  li {
    padding: 7px;
    display: block;
    overflow: hidden;
    border: none;

    .image {
      display: block;
      float: left;
      position: relative;
      margin-top: 2px;
      margin-right: 10px;

      img {
        float: left;
        border: 1px solid #d7d7d7 !important;
        width: 50px !important;
        height: 50px !important;
        border-radius: 50px;
        padding: 5px !important;
      }
    }

    .right {
      overflow: hidden;

      h3 {
        font-size: 17px;
        color: #333;
        font-weight: normal;
        margin: 0 0 4px 0;
        padding: 0;
        text-transform: none;

        a {
          color: #333;
          text-decoration: none;
          font-family: 'Roboto', sans-serif;

          span {
            color: #0086dc !important;
            text-transform: none;
          }
        }
      }

      span {
        display: inline-block;
        vertical-align: middle;

        svg {
          width: 22px;
          height: 25px;
          margin-right: 5px;
        }
      }

      .article_date {
        padding-left: 0;
        margin-right: 0;
        display: inline-block;
        position: relative;
        // &::before {
        //     content: '';
        //     background: url(/_next/image?url=%2Ftime.png&w=256&q=75) top center no-repeat;
        //     width: 20px !important;
        //     height: 20px !important;
        //     display: inline-block;
        //     background-size: cover;
        //     position: relative;
        //     top: 3px;
        // }

      }

      .article_view {
        padding-left: 15px;
        margin-right: 0;
        display: inline-block;
        position: relative;
        // &::before {
        //     content: '';
        //     background: url(/_next/image?url=%2Faccount.png&w=256&q=75) top center no-repeat;
        //     width: 20px !important;
        //     height: 20px !important;
        //     display: inline-block;
        //     background-size: cover;
        //     position: relative;
        //     top: 3px;
        //     margin-right: 5px;
        // }
      }

      .article_comment {
        padding-left: 29px;
        margin-right: 0;
        display: inline-block;
      }
    }
  }
}

.rounded-l-lg {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.rounded-r-lg {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.justify-evently {
  justify-content: space-evenly;
}

.home-banner-wrapper {
  span {
    width: 100% !important;
    display: block !important;
  }
}

.tools-page {
  .modalWrapper {
    img.nextui-image {
      width: 120px !important;
      margin: 0 auto;
    }
  }
}

.certification-wrapper {
  position: relative;

  svg {
    position: absolute;
    right: 20px;
    top: -5px;
    cursor: pointer;
  }
}

@media (min-width: 1199px) {
  .newsletter-main-card {
    >div {
      max-width: 600px;
    }

    .prose {
      min-height: 50px;
    }
  }
  .profile-aside {
    min-width: 320px;
    max-width: 100%;
  }
  .profile-wrapper {
    min-width: 700px;
  }
  nav {
    .tracking-wider,
    button {
      min-width: 210px !important;
    }
  }
}

aside {
  table {
    tr {
      position: relative;

      .tr-image {
        position: absolute;
        left: -10px;
        top: -5px;
      }
    }
  }
}
.select-value {
  color: #000;
  text-shadow: 0 0 #000;
}
.dark {
  .martian-admin {

    // .dark\:text-gray-500,
    // td{
    //   color: #d7d7d7;
    // }
    .select-value {
      color: #000;
      text-shadow: 0 0 #000;
    }
    p {
      color: #d7d7d7;
    }
    nav {
      p {
        color: #000;
      }
    }
    .profile-page {
      p {
        color: #d7d7d7;
      }
    }
  }
}

.submit-content-type {
  // margin-bottom: -10px;
  // display: block;

  .content-element {
    // display: block;
    // width: 100%;

    .content-checkboxes {
      // display: inline-block;
      // margin: 0 10px;
      margin: 15px 0 0;
      input {
        float: left;
        margin-top: 1px;
      }

      label {
        overflow: hidden;
        padding-left: 5px;
        padding-right: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

.dark .dark\:bg-gray-400 {
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.rounded-image {
  max-width: 150px;
  max-height: 140px;

  img {
    border-radius: 100%;
  }
}

.d-none {
  display: none;
}

.cardHolder {
  justify-content: space-between;

  .card {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    border: 1px solid #ccc;
    border-radius: 6px;
    min-width: 24%;
    margin-right: 10px;
    padding: 25px 15px;
    margin-bottom: 10px;

    // background-color: #fff;
    svg {
      width: 40px !important;
      height: 40px !important;
    }

    h4 {
      font-size: 18px;
      line-height: 22px;
      font-weight: 600;
      margin-bottom: 0;
      text-transform: capitalize;
      color: #000;
    }

    p {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 0;
      color: rgba(0, 0, 0, 0.8);
    }
    &.purple-card {
      border-left: 5px solid #4C1D95;
      svg, h4, p {
        color: #4C1D95;
      }
    }
    &.blue-card {
      border-left: 5px solid #1E3A8A;
      svg, h4, p {
        color: #1E3A8A;
      }
    }
    &.green-card {
      border-left: 5px solid #064E3B;
      svg, h4, p {
        color: #064E3B;
      }
    }
    &.red-card {
      border-left: 5px solid #7F1D1D;
      svg, h4, p {
        color: #7F1D1D;
      }
    }
  }
}

.dark {
  .cardHolder {
    .card {

      h2,
      h4,
      p {
        color: rgba(255, 255, 255, 0.7) !important;
      }
      svg {
        color: #ddd !important;
      }
    }
  }
}

.dashboard-page {
  width: 100%;

  table {
    tr {
      th {
        white-space: nowrap;
      }
    }
  }

  h2 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: capitalize;
  }
}

.skills-wrapper {
  .css-1m13nk9-multiValue {
    border-radius: 15px;

    >div {
      font-size: 12px;
      color: #fff;
    }
  }

  input {
    min-width: 50px !important;
    border: none !important;
    outline: 0 !important;
    box-shadow: none !important;
  }

  .skills-select-list {
    border-color: rgb(203, 213, 225, 1) !important;
  }
}

.rdw-editor-wrapper {
  .DraftEditor-root {
    height: auto !important;

    .public-DraftStyleDefault-ltr {
      font-size: 14px;
      line-height: 18px;
      margin: 0;
    }
  }
}

/* Define the scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}

::-webkit-scrollbar-thumb {
  background-color: #dad7d7;
  border-radius: 10px;
  border: 1px solid #f4f4f4;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b2b2b2;
}

.link {
  a {
    text-decoration: underline;
    text-transform: capitalize;
  }
}

@media only screen and (max-width: 767px) {
  /* Add a horizontal scroll to the table on mobile view */
  .table-responsive {
    overflow-x: scroll;
  }

  /* Hide table header on mobile view */
  table {
    thead {
      display: none;
    }
  }

  /* Make table rows display as block for better readability on mobile view */
  tbody {
    display: block;
    width: 100%;
  }

  /* Style table cells on mobile view */
  td {
    display: block;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  /* Style first table cell to display as a table header on mobile view */
  td:first-of-type {
    text-align: center;
    font-weight: bold;
  }
}

.public-key {
  position: relative;
  display: flex;
  justify-content: space-between;
  input {
    margin-right: 20px;
    // padding-right: 60px !important;
  }
  button {
    // position: absolute;
    // right: 0px;
    // top: 0;
    // bottom: 0;
    padding: 15px;
  }
}

// .martian-admin {
//   background-color: #fff;
// }
// .dark {
//   .martian-admin {
//     --tw-bg-opacity: 1;
//     background-color: rgb(17 24 39 / var(--tw-bg-opacity));
//   }
// } 



.martian-card {
  min-height: 285px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  button {
    margin-right: 15px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #fff;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: rgb(202, 138, 4);
    border-radius: 0.375rem;
    border: 1px solid transparent;
    &:hover {
      background-color: rgb(161, 98, 7);
    }
  }
}
.newsletter-page {
  img {
    z-index: 1;
  }
}
.notification-popup {
  position: relative;
  z-index: 9999999 !important;
}



.notify-popup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 999999;
  .left {
    width: 100%;
    display: flex;
    white-space: nowrap;
    align-items: center;
    p {
      margin-left: 5px;
      margin-bottom: 0;
    }
  }
  .right {
    span {
      position: absolute;
      right: 15px;
      top: 15px;
    }
  }
}

.z-index-max {
  z-index: 99999999 !important;
}

// input {
//   min-width: 100% !important;
//   grid-area: auto !important;
// }

.rdw-dropdownoption-default {
  color: #333 !important;
}

.tags {
  button {
    background-color: #eab308;
    color: #fff;
    padding: 1px 6px;
    margin-right: 8px;
    margin-bottom: 8px;
    display: inline-block;
    border-radius: 12px;
    font-size: 11px;
    span {
      display: none;
    }
  }
} 
.pagination-wrapper {
  ul {
    li {
      height: 32px;
      text-align: center;
      margin: auto 4px;
      color: #000;
      letter-spacing: 0.01071em;
      border-radius: 20px;
      font-size: 13px;
      min-width: 32px;
      background-color: transparent;
      &.disabled {
        a {
          color: #000 !important;
        }
      }
      a {
        color: #fff;
      }
      &:hover {
        background-color: #CA8A04;
        a {
          color: #fff !important;
        }
      }
    }
  }
}
.dark {
  .pagination-wrapper {
    li {
      &.disabled {
        a {
          color: #fff !important;
        }
      }
    }
  }
}

.quiz-container {
  width: 100%;
  max-width: 500px;
  min-width: 250px;
  background: #ffffff;
  border-radius: 4px;
  margin-top: 30px;
  padding: 30px 60px;
}

.quiz-container .active-question-no {
  font-size: 32px;
  font-weight: 500;
  color: #eab308;
}

.quiz-container .total-question {
  font-size: 16px;
  font-weight: 500;
  color: #e0dee3;
}

.quiz-container h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.quiz-container ul {
  margin-top: 20px;
  margin-left: -40px;
}

.quiz-container ul li {
  text-decoration: none;
  list-style: none;
  color: #CA8A04;
  font-size: 16px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  padding: 11px;
  margin-top: 15px;
  cursor: pointer;
}

.quiz-container ul .selected-answer {
  background: #e9cf98;
  border: 1px solid #eab308;
}

.quiz-container button {
  background: linear-gradient(90.04deg, #eab308 0.03%, #ffc0cb 99.96%);
  border-radius: 9px;
  font-size: 18px;
  color: #ffffff;
  padding: 10px 42px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

.quiz-container button:disabled {
  background: #e7e8e9;
  color: #9fa3a9;
  cursor: not-allowed;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.flex-left{
  display: flex;
  justify-content: flex-start;
}

.result h3 {
  font-size: 24px;
  letter-spacing: 1.4px;
  text-align: center;
}

.result p {
  font-size: 16px;
  font-weight: 500;
}

.result p span {
  color: #eab308;
  font-size: 22px;
}